
.outfit-title {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #01497c;
    text-align: center;
    font-size: 7rem;
    margin-top: 5rem;
    font-weight: bold;
  }

#sign-in-instructions {
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #01497c;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 100%;
    white-space: normal;
}

#title-container {
    width: 60%;  
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: #edf2fb;
}

div {
    margin: 10px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.gallery-item div {
    text-align: center;
    margin-top: 5px;
}

.gallery-item button {
    margin-top: 5px;
}


